---
import { Image } from "astro:assets";
import Breadcrumbs from "../../components/Breadcrumbs.astro";
import PortableText from "../../components/PortableText.astro";
import BlogLayout from "../../layouts/BlogLayout.astro";
import { getAllBlogPosts } from "../../sanity/api";
import { urlForMedia } from "../../sanity/urlForMedia";

export async function getStaticPaths() {
  const posts = await getAllBlogPosts();
  return posts.map((post) => {
    const postDate = new Date(post._createdAt).toLocaleString("en-us", {
      year: "numeric",
      month: "long",
      day: "numeric",
    });
    return {
      params: { slug: post.slug.current },
      props: { ...post, postDate },
    };
  });
}

const post = Astro.props;
---

<BlogLayout title={post.title}>
  <main
    class="m-auto block w-full max-w-4xl bg-white p-8 font-skinDisplay shadow"
  >
    <Breadcrumbs
      breadcrumbData={{
        parentPath: "/blog",
        slug: post.slug.current,
        excerpt: post.excerpt,
      }}
    />
    <hr class="mb-4" />
    <div class="mb-4">
      <h1 class="text-4xl font-extrabold">{post.title}</h1>
      <p class="italic">
        {post.postDate}
        {post.author ? "/ Author: " + post.author : ""}
      </p>
    </div>
    <div class="m-auto mb-12 w-1/2">
      <Image
        src={urlForMedia(post.galleryImages.imageFile.asset._ref).url()}
        class="w-full rounded border-2 shadow-sm object-cover object-center mb-2"
        alt="logo"
        format="png"
        width="800"
        height="800"
      />
      <p>{post.galleryImages.title}</p>
      <p class="italic">{post.galleryImages.caption}</p>
    </div>
    <div class="mb-24 flex flex-col">
      <PortableText portableText={post.content} />
    </div>
    <hr class="mb-4" />
    <Breadcrumbs
      breadcrumbData={{
        parentPath: "/blog",
        slug: post.slug.current,
        excerpt: post.excerpt,
      }}
    />
  </main>
</BlogLayout>
