---
import { Image } from "astro:assets";
import Breadcrumbs from "../../components/Breadcrumbs.astro";
import PortableText from "../../components/PortableText.astro";
import Layout from "../../layouts/Layout.astro";
import { getAllBlogPosts } from "../../sanity/api";
import { urlForMedia } from "../../sanity/urlForMedia";

export async function getStaticPaths() {
  const posts = await getAllBlogPosts();
  return posts.map((post) => {
    const postDate = new Date(post._createdAt).toLocaleString("en-us", {
      year: "numeric",
      month: "long",
      day: "numeric",
    });
    return {
      params: { slug: post.slug.current },
      props: { ...post, postDate },
    };
  });
}

const post = Astro.props;
---

<Layout title={post.title}>
  <main
    class="m-auto block w-full max-w-[1440px] border-l-2 border-r-2 border-[#800000] bg-white p-4 shadow shadow-sm md:p-8"
  >
    <Breadcrumbs
      breadcrumbData={{
        parentPath: "/blog",
        slug: post.slug.current,
        excerpt: post.excerpt,
      }}
    />
    <hr class="mb-4" />
    <div class="mb-4">
      <h1 class="text-4xl font-extrabold">{post.title}</h1>
      <p class="italic">
        {post.postDate}
        {post.author ? "/ Author: " + post.author : ""}
      </p>
    </div>
    <div class="w-1/2 m-auto mb-12">
      <Image
        src={urlForMedia(post.galleryImages.imageFile.asset._ref).url()}
        class="object-cover object-center w-full mb-2 border-2 rounded shadow-sm"
        alt="logo"
        format="png"
        width="800"
        height="800"
      />
      <p>{post.galleryImages.title}</p>
      <p class="italic">{post.galleryImages.caption}</p>
    </div>
    <div class="flex flex-col mb-24">
      <PortableText portableText={post.content} />
    </div>
    <hr class="mb-4" />
    <Breadcrumbs
      breadcrumbData={{
        parentPath: "/blog",
        slug: post.slug.current,
        excerpt: post.excerpt,
      }}
    />
  </main>
</Layout>
