---
import { Image } from "@astrojs/image/components";
import Emoji from "astro-emoji";
import { urlForMedia } from "../sanity/urlForMedia";

import Footer from "../components/Footer.astro";
import NavBar from "../components/NavBar.astro";
import BlogLayout from "../layouts/BlogLayout.astro";
import { getAllEventPosts } from "../sanity/api";
import EventCard from "../components/EventCard.astro";
import PostsZeroState from "../components/PostsZeroState.astro";
const eventPosts = await getAllEventPosts();
const today = new Date().toISOString().slice(0, 10);

const transformDateToISO = (dateStr: any) => {
  const [dayName, monthName, day, year] = dateStr.split(" ");
  const monthIndex = new Date(`${monthName} 1, ${year}`).getMonth();
  return `${year}-${String(monthIndex + 1).padStart(2, "0")}-${String(
    day
  ).padStart(2, "0")}`;
};

const upcomingEvents = eventPosts.filter((post) => {
  const eventDateISO = transformDateToISO(post.date);
  return eventDateISO > today;
});

const pastEvents = eventPosts.filter((post) => {
  const eventDateISO = transformDateToISO(post.date);
  return eventDateISO <= today;
});
---

<BlogLayout title="Cypher Queenz | Blog">
  <NavBar />
  <main class="mx-auto mb-auto block w-full max-w-4xl font-skinDisplay">
    <div class="p-8">
      <h1 class="mb-8 text-4xl font-extrabold">Events</h1>
      <h2 class="text-2xl font-bold">Upcoming</h2>
      <div class="flex flex-col">
        {
          !upcomingEvents.length ? (
            <PostsZeroState type="events" />
          ) : (
            upcomingEvents.map((post) => <EventCard post={post} />)
          )
        }
      </div>
      <h2 class="text-xl font-bold">Past Events</h2>
      <div class="flex flex-col">
        {pastEvents.map((post) => <EventCard post={post} />)}
      </div>
    </div>
  </main>
  <Footer />
</BlogLayout>
