---
import { Image } from "astro:assets";
import { urlForMedia } from "../sanity/urlForMedia";
const { post } = Astro.props;
const postDate = new Date(post._createdAt).toLocaleString("en-us", {
  year: "2-digit",
  month: "short",
  day: "numeric",
});
const originalImageUrl = urlForMedia(post.galleryImages.imageFile).url();
const resizedUrlForGallery = originalImageUrl + "?w=640&h=360&fit=crop&fm=webp";
---

<article
  class="w-full rounded-sm border-2 border-[#800000] bg-white p-2 lg:w-[25%]"
>
  <a
    href={`/blog/${post.slug.current}`}
    class="flex flex-col h-full gap-4"
    aria-label={`Read blog post ${post.title}`}
  >
    <div class="relative w-full pb-[56.25%]">
      <Image
        src={resizedUrlForGallery}
        data-originalurl={originalImageUrl}
        alt={post.title || "Blog Post Picture"}
        width={640}
        height={360}
        class="absolute inset-0 object-cover w-full h-full rounded shadow-sm"
      />
    </div>
    <div class="flex flex-col justify-start gap-2">
      <h2 class="text-xl font-bold">{post.title}</h2>
      <span class="text-xs italic">Posted {postDate}</span>
      <hr />
    </div>
    <p class="w-full text">
      {post.excerpt}
    </p>
    <p class="mt-auto w-max justify-self-end bg-[#facc15] py-2 px-2 font-thin">
      Read More →
    </p>
  </a>
</article>
