---
import { Image } from "astro:assets";
import Emoji from "astro-emoji";
import { urlForMedia } from "../sanity/urlForMedia";

const { post } = Astro.props;
const eventDate = new Date(post.dateStart)
  .toLocaleString("en-us", {
    year: "2-digit",
    month: "long",
    day: "numeric",
    timeZone: "America/Los_Angeles",
  })
  .replace(",", "")
  .split(" ");
const eventTimeStart = new Date(post.dateStart).toLocaleTimeString("en-US", {
  hour: "numeric",
  minute: "numeric",
  hour12: true,
  timeZone: "America/Los_Angeles",
});
const eventTimeEnd = new Date(post.dateEnd).toLocaleTimeString("en-US", {
  hour: "numeric",
  minute: "numeric",
  hour12: true,
  timeZone: "America/Los_Angeles",
});
const originalImageUrl = urlForMedia(post.blogAndEventImages.imageFile).url();
const resizedUrlForGallery = originalImageUrl + "?w=400&h=400&fit=crop&fm=webp";
---

<article class="basis-[25%] rounded-sm border-2 border-[#800000] bg-white">
  <div class="relative">
    <Image
      src={resizedUrlForGallery}
      alt={post.title || "Event Picture"}
      width={400}
      height={400}
      class="object-cover w-full h-64"
    />
    <div
      class="absolute top-0 left-0 px-4 py-2 text-xl font-thin font-bold tracking-tighter text-black uppercase bg-yellow-400 border-b-4 border-r-4 border-black"
    >
      {eventDate[0]}&nbsp; {eventDate[1]} '{eventDate[2]}
    </div>
  </div>

  <div class="p-2">
    <h2 class="mb-4 text-3xl font-black text-black">{post.title}</h2>

    <div class="space-y-3">
      <p class="flex items-center text-lg">
        <span class="mr-2 text-2xl"><Emoji symbol="ðŸ“" /></span>
        <span class="mr-2 font-bold">Location:</span>
        {post.location}
      </p>
      <p class="flex items-center text-lg">
        <span class="mr-2 text-2xl"><Emoji symbol="ðŸ’°" /></span>
        <span class="mr-2 font-bold">Cost:</span>
        {post.entryFee}
      </p>
      <p class="flex items-center text-lg">
        <span class="mr-2 text-2xl"><Emoji symbol="â°" /></span>
        <span class="mr-2 font-bold">Time:</span>
        {eventTimeStart} - {eventTimeEnd}
      </p>
    </div>

    <a
      href={`/events/${post.slug.current}`}
      class="mt-6 inline-block bg-[#facc15] p-2 font-thin"
    >
      Learn More â†’
    </a>
  </div>
</article>
