---
import { Image } from "astro:assets";
import Emoji from "astro-emoji";
import { urlForMedia } from "../sanity/urlForMedia";

const { post } = Astro.props;

const eventDate = new Date(post.dateStart)
  .toLocaleString("en-us", {
    year: "2-digit",
    month: "long",
    day: "numeric",
    timeZone: "America/Los_Angeles",
  })
  .replace(",", "")
  .split(" ");

const eventTimeStart = new Date(post.dateStart).toLocaleTimeString("en-US", {
  hour: "numeric",
  minute: "numeric",
  hour12: true,
  timeZone: "America/Los_Angeles",
});

const eventTimeEnd = new Date(post.dateEnd).toLocaleTimeString("en-US", {
  hour: "numeric",
  minute: "numeric",
  hour12: true,
  timeZone: "America/Los_Angeles",
});

const originalImageUrl = urlForMedia(post.blogAndEventImages.imageFile).url();

const resizedUrlForGallery = originalImageUrl + "?w=400&fit=fill&fm=webp";
---

<article
  class="flex flex-col w-full gap-2 p-6 my-4 bg-white border rounded-lg sm:flex-row sm:justify-between sm:gap-5"
>
  <div class="w-full left sm:w-1/2">
    <!-- Event Date -->
    <div
      class="flex items-center gap-2 px-4 mb-4 text-white bg-gray-800 rounded"
    >
      <p class="py-2 text-xl font-bold uppercase">
        {eventDate[0]}{" "}
        {eventDate[1]} '{eventDate[2]}
      </p>
    </div>

    <!-- Image -->
    <div class="flex justify-center w-full">
      <Image
        src={resizedUrlForGallery}
        data-title={"Event Picture" || ""}
        data-originalurl={originalImageUrl}
        format="png"
        alt={"Event Picture"}
        width="400"
        height="400"
        class="object-cover object-center border-2 rounded shadow-sm gallery-image"
      />
    </div>
  </div>

  <!-- Title -->
  <div class="w-full right sm:w-1/2">
    <h2 class="w-full text-2xl font-bold">{post.title}</h2>
    <!-- Details -->
    <div class="flex flex-col w-full gap-2 mt-4">
      <p class="text-lg uppercase">
        <span class="font-extrabold">
          <Emoji symbol="ðŸ“" />
          Location:
        </span>
        {post.location}
      </p>
      <p class="text-lg uppercase">
        <span class="font-extrabold">
          <Emoji symbol="ðŸ’°" />
          Cost:
        </span>
        {post.entryFee}
      </p>
      <p class="text-lg uppercase">
        <span class="font-extrabold">
          <Emoji symbol="â°" />
          Time:
        </span>
        {eventTimeStart} - {eventTimeEnd}
      </p>
      <a
        href={`/events/${post.slug.current}`}
        class="font-extrabold text-teal-600 underline"
      >
        Learn More
      </a>
    </div>
  </div>
</article>
