---
import { Image } from "astro:assets";
import Emoji from "astro-emoji";
import Breadcrumbs from "../../components/Breadcrumbs.astro";

import PortableText from "../../components/PortableText.astro";
import { getAllEventPosts } from "../../sanity/api";
import { urlForMedia } from "../../sanity/urlForMedia";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const posts = await getAllEventPosts();
  return posts.map((post) => {
    const postDate = new Date(post._createdAt).toLocaleString("en-us", {
      year: "numeric",
      month: "long",
      day: "numeric",
      timeZone: "America/Los_Angeles",
    });
    const eventDate = new Date(post.dateStart)
      .toLocaleString("en-us", {
        year: "2-digit",
        month: "short",
        day: "numeric",
        timeZone: "America/Los_Angeles",
      })
      .replace(",", "")
      .split(" ");
    const eventTimeStart = new Date(post.dateStart).toLocaleTimeString(
      "en-US",
      {
        hour: "numeric",
        minute: "numeric",
        hour12: true,
        timeZone: "America/Los_Angeles",
      }
    );

    const eventTimeEnd = new Date(post.dateEnd).toLocaleTimeString("en-US", {
      hour: "numeric",
      minute: "numeric",
      hour12: true,
      timeZone: "America/Los_Angeles",
    });
    return {
      params: { slug: post.slug.current },
      props: { ...post, postDate, eventDate, eventTimeEnd, eventTimeStart },
    };
  });
}

const post = Astro.props;
---

<Layout title={post.title}>
  <main class="m-auto block w-full max-w-[1440px] bg-white md:p-8 p-4 shadow">
    <Breadcrumbs
      breadcrumbData={{
        parentPath: "/events",
        slug: post.slug.current,
        excerpt: post.title,
      }}
    />
    <hr class="mb-4" />
    <div class="mb-4">
      <h1 class="text-4xl font-extrabold">{post.title}</h1>
      <p class="italic">
        Posted {post.postDate}
        {post.author ? "/ Author: " + post.author : ""}
      </p>
    </div>
    <div class="w-1/2 m-auto mb-12">
      <Image
        src={urlForMedia(post.blogAndEventImages.imageFile.asset._ref).url()}
        class="object-cover object-center w-full mb-2 border-2 rounded shadow-sm"
        alt="logo"
        format="png"
        width="800"
        height="800"
      />
      <p>{post.blogAndEventImages.title}</p>
      <p class="italic">{post.blogAndEventImages.caption}</p>
    </div>
    <div class="flex flex-col items-center gap-2 justify-evenly sm:flex-row">
      <div
        class="mx-auto mb-3 flex flex-col items-center justify-around self-start rounded border border-[#800000] px-8 py-2 sm:mx-[initial] sm:my-auto"
      >
        <p class="text-2xl font-extrabold uppercase">{post.eventDate[0]}</p>
        <p class="text-4xl font-extrabold">{post.eventDate[1]}</p>
        <p class="text-xl">'{post.eventDate[2]}</p>
      </div>
      <div
        class="mx-auto mb-8 flex flex-col gap-3 self-start px-8 py-2 sm:mx-[initial]"
      >
        <p class="flex flex-col text-lg uppercase">
          <span class="font-extrabold"><Emoji symbol="ðŸ“" />Location:</span><a
            href={`https://www.google.com/maps/search/${post.location}`}
            >{post.location}
            <span class="text-xs underline opacity-70">(Google Maps)</span></a
          >
        </p>
        <div class="flex gap-4">
          <p class="flex flex-col text-lg uppercase">
            <span class="font-extrabold"><Emoji symbol="ðŸ’°" />Cost:</span>{
              post.entryFee
            }
          </p>
          <p class="flex flex-col text-lg uppercase">
            <span class="font-extrabold"><Emoji symbol="â°" />Time:</span>{
              post.eventTimeStart
            } - {post.eventTimeEnd}
          </p>
        </div>
      </div>
    </div>
    <hr class="mb-8" />
    <div class="flex flex-col px-8 mb-24">
      <PortableText portableText={post.content} />
    </div>
    <hr class="mb-4" />
    <Breadcrumbs
      breadcrumbData={{
        parentPath: "/events",
        slug: post.slug.current,
        excerpt: post.title,
      }}
    />
  </main>
</Layout>
